@page
@model Dreamers.Ui.Pages.Admin.Excursions.ListModel
@{
    Layout = "../_AdminLayout";
}

<a href="/admin/excursions/insert">Add Excursion</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var excursion in Model.Excursions)
        {
            <tr>
                <th>@excursion.Id</th>
                <td><img height="50" src="@excursion.MainPhotoPath" /></td>
                <td>@excursion.Name</td>
                <td>@excursion.Price $</td>
                <td>@excursion.DateCreated?.ToShortDateString()</td>
                <th>
                    <a href="/admin/excursions/edit/@excursion.Id">Edit</a>
                    <a class="text-danger" href=".#">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>